/* Estilos para a seção de contatos */
#contacts {
  width: 100%;
  display: flex;
  padding: 28px 8%;
  align-items: center;
  min-height: calc(100vh - 91px);
  justify-content: center;
  background-image: url('/src/images/logomarca/banner.jpeg');
  background-repeat: no-repeat;
  /* Evita que a imagem se repita */
  background-size: cover;
  /* Ajusta a imagem para cobrir a área */
  background-position: center;
  /* Centraliza a imagem 
  background-blend-mode: overlay;
  */
}

#form_completo {
  display: flex;
  flex-direction: column;
  max-width: 420px;
  max-height: fit-content;
  background: var(--color-neutral-0);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  

}

.checkbox-group {
  margin: 10px 10px;
  font-size: 12px;
}

#form_completo .checkbox-group input[type="checkbox"] {
  margin: auto;
  width: 12px;
  height: 12px;
  margin-right: 2%;
}

#form_completo label {
  display: flex;
  margin: 10px;
  align-items: center;
}

#contacts h2 {
  margin-bottom: 10px;
  color: var(--color-secondary-1);
}

#contacts p {
  text-align: center;
  color: var(--color-neutral-0);
}

#form_completo input,
#form_completo select {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid var(--color-neutral-2);
  color: #797878;
}

#form_completo .text-area-form {
  width: 100%;
  height: max-content;
}

#form_completo .btn-default {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  color: var(--color-neutral-0);
  font-size: 400;
  cursor: pointer;
  margin-top: 10px;
}


#form_completo button:hover {
  opacity: 0.9;
}

.social-media-buttons a {
  margin-top: auto;
}

.contacts-div p {
  color: var(--color-neutral-8);
  text-align: center;
}

.contacts-div {
  background-color: var(--color-primary-2);
  margin: 20px 20px;
  padding: 20px 20px;
  border-radius: 16px;
  border: var(--color-neutral-2) 1px solid;
  gap: 12px;
  max-width: 400px
}


.contacts-img {
  display: none;
  width: auto;
  max-height: 100%;
  border-radius: 0px;
}

.contacts-aside {
  justify-content: center;
  align-items: center;
}


@media screen and (max-width: 1100px) {
  #form_completo .btn-default {
    font-size: 12px;
    
  }

  #contacts h2,
  #contacts p {
    text-align: center;
  } 

}


@media screen and (max-width: 780px) {

  #contacts {
  margin-top: 10px;
  padding: 2px;
  align-items: center;
  min-height: calc(100vh - 91px);
  justify-content: center;
  }

  .contacts-img {
    display: none;
  }

  #form_completo {
    justify-content: center;
    min-width: 330px;
    margin: 5px;
    padding: 5px 5px 0px 5px;
    align-items: center;

  }

  #contacts h2 {
    font-size: large;
    margin: 10px;
  }

  .contacts-div{
    margin: 5px;
    padding: 5px;
    width: 100%;
    gap: 2px;
  }

  #form_completo .btn-default {
    text-align: center;
    width: 80%;
  }

}


@media screen and (max-width: 360px) {

  #contacts {
  margin-top: 0px;
  padding: 0px;
  align-items: center;
  min-height: calc(100vh - 91px);
  justify-content: center;
  width: 100%;
 }

  .contacts-img {
    display: none;
  }

  #form_completo {
    justify-content: center;
    min-width: 200px;
    margin: 5px;
    padding: 5px 5px 0px 5px;
    align-items: center;

  }

  #contacts h2 {
    font-size: large;
    margin: 10px;
  }

  .contacts-div{
    margin: 5px;
    padding: 5px;
    width: 100%;
    gap: 2px;
  }
  
  
  #form_completo .btn-default {
    text-align: center;
    width: 80%;
    display: block;
    text-align: center;
    padding: 4px 6px;
    background-color: var(--color-primary-2);
    color: var(--color-primary-1);
    border: none;
    text-decoration: none;
    border-radius: 20px;
    font-weight: 400;
    transition: background-color 0.3s ease;
    display: flex;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
    justify-content: center;
    width: 100%;
    cursor: pointer;
    margin-top: 10px;
  }


}