/* Estilos para o rodapé */
footer {
    background-color: var(--color-primary-1);
    position: relative;    
    width: auto;
    background-color: var(--color-primary-2);
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer {
    display: flex;
    width: 100%;
    padding: 28px 8%;
    justify-content: space-between;
    align-items: center;
    max-height: 300px;
}

#devmedia {
    display: flex;
    align-items: center;
    width: auto;
    max-height: fit-content;
    justify-content: flex-start;
    
}   

#developer a {
    color: var(--color-neutral-0);
    text-decoration: none;
    font-size: small;
    
}

#developer {
    text-align: center;
    color: var(--color-neutral-0);
    font-size: 14px;
    padding: 12px;
    
}




#copyright {
    color: var(--color-neutral-0);
    align-items: center;
    display: flex;
    flex-direction: row;  
    font-family: "Raleway", sans-serif;
    font-size: 14px;  
}

i.fa-brands {
    color: var(--color-primary-2);
    font-size: 1.5rem;
}
#follow_us {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--color-neutral-0);
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    margin-bottom: 20px;
}
#follow_us span {
    justify-content: start;
    width: 100%;
    text-align: left;
    color: var(--color-neutral-0);
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    padding: 10px 0;
}

#follow_us .social-media-buttons {
    color: var(--color-neutral-0);
    text-decoration: none;
    font-size: 12px;
}

@media screen and (max-width: 780px) {
    .footer {
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
        
    }
    #follow_us, #follow_us span{
        margin: 0;
        padding: 0;
        width: 100%;
        margin-bottom: 0px;
        text-align: center;
    }   
    
}

/*#devmedia {
        flex-direction: column-reverse;
        gap: 10px;
        margin: auto;
        align-items: center;
        justify-content: center;
    }

    #follow_us {
        margin-left: 0%;
        margin: auto;
        align-items: center;
        justify-content: center;}