#testimonials {
    min-height: calc(100vh - 91px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;

}

.feedbacks_broker_img {
    width: 450px;
    height: auto;
    padding: auto;
}

.feedbacks-content {
    padding: 10px 10px;
    width: 60%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.05);
}

#testimonials .section-subtitle {
    font-size: 2rem;
}

.feedbacks-card {
    position: relative;
    min-width: 250px;
    height: 400px;
    overflow: hidden;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.05);
    margin: 5px;
}

.feedback-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.feedbacks-card:hover .feedback-img {
    transform: scale(1.2);
}

.overlay {
    position: absolute;
    inset: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.9),
            rgba(0, 0, 0, 0.3));

    color: white;
}

.feedbacks-text {
    width: 100%;
    opacity: 0;
    transform: translateY(20px);
    transition: 0.4s ease;
}

.feedbacks-author {
    display: flex;
    justify-content: space-between;
    transform: translateY(200);
    transition: 0.4s ease;
}

.feedbacks-card:hover .feedbacks-text {
    opacity: 1;
    transform: translateY(0);
}

.feedbacks-card:hover .feedbacks-author {
    transform: translateY(-10px);
}

.feedbacks-card:hover .overlay {
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.95),
            rgba(0, 0, 0, 0.5));
}

.feedbacks-grid {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.carrosel-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.carrosel-viewport {
    overflow: hidden;
    width: 100%;
}

.carrosel-track {
    display: flex;
    transition: transform 0.5s ease;
    gap: 10px;
    cursor: grab;
}

.carrosel-track:active {
  cursor: grabbing;
}

/*id não sendo utilizado
#carrosel_btn {
    background: black;
    color: white;
    border: none;
    font-size: 32px;
    padding: 0;
    cursor: pointer;
    border-radius: 60%;
    z-index: 30;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.05);
}*/

.carrosel-btn-left {
    border: none;
    font-size: 28px;
    padding: 12px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1;
}


.carrosel-btn-right {
    border: none;
    font-size: 28px;
    padding: 12px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1;

}


@media screen and (max-width: 1170px) {
    .feedbacks_broker_img {
        display: none;
    }

    #testimonials .section-subtitle {
        font-size: 1.5rem;
        text-align: center;
    }

    .feedbacks-content {
        width: 100%;
    }

    .carrosel-container {
        width: 100%;
    }

    .carrosel-btn-left-prev {
        display: none;
    }

    .carrosel-btn-right-next {
        display: none;
    }
}

@media(max-width:768px) {

    .carrosel-btn-left, .carrosel-btn-right{
        display: none;
    }
}